html 
{            
	height: 100%;            
	width: 100%;  
	font-family: "Georgia", cursive, sans-serif;      
}
td
{ 
	border: 10px solid #262626;
	width: 33%;
	height: 100%;
	color: white;	
	text-align: center;
	vertical-align: text-top;			
}
tr
{
	height: 100%;
}
td a.button 
{            
	background: #262626;            
	border: 1px solid #FFFFFF;            
	color: #FFFFFF;
	font-size: 24px;            
	line-height: 46px;            
	margin-top: 0px;            
	padding: 0 15px 3px;            
	text-decoration: none;
	text-align: center;        
}            
td a.button img 
{              
	padding: 10px 0 0 15px;            
}            
td a.button:hover 
{                
	background: #1C75BC;            
}         
#content 
{            
	           
	font-weight: normal;            
	font-size: 26px;            
	color: #24F6ED;            
	float: left;            
	width: 500px;            
	margin-top: 10px;            
	margin-left: 0px;            
	vertical-align: middle;        
}            
#content h1 
{                
	                
	color: #E7D229;                
	font-weight: normal;                
	font-size: 35px;                
	line-height: 36pt;                
	width: 800px;           
	padding-bottom: 5px; 
} 
#content a.button 
{            
	background: #0DBCF2;            
	border: 1px solid #FFFFFF;            
	color: #FFFFFF;            
	display: inline-block;            
	font-family: Georgia;            
	font-size: 24px;            
	line-height: 46px;            
	margin-top: 10px;            
	padding: 0 15px 3px;            
	text-decoration: none;        
}            
#content a.button img 
{               
	float: right;                
	padding: 10px 0 0 15px;            
}            
#content a.button:hover 
{                
	background: #1C75BC;            
}              
p a, p a:visited, p a:active, p a:hover 
{            
	color: #ffffff;				        
}
input
{
	background:#336699;
	border: none;
	color: white;
	font-family: "Georgia", cursive, sans-serif;
} 
body 
{            
	background-image: url();            
	background-repeat: no-repeat;            
	background-position: center;        
}    
