html 
{            
	height: 100%;            
	width: 100%;  
	font-family: "Comic Sans MS", cursive, sans-serif;      
}
body 
{       
	background-color: #262626;
	background-image: url("https://cloud.githubusercontent.com/assets/15965959/11448293/0b9b203a-950a-11e5-82ef-217ecdfde552.jpg");            
	background-repeat: no-repeat;            
	background-position: center;        
}
td
{
	border: 3px solid #800000;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

