html 
{            
	height: 100%;
	width: 100%;
	font-family: "Georgia", cursive, sans-serif;      
}
body 
{       
	background-color: #262626;
	background-image: url("https://cloud.githubusercontent.com/assets/15965959/11448293/0b9b203a-950a-11e5-82ef-217ecdfde552.jpg");            
	background-repeat: no-repeat;            
	background-position: center;        
}
div a.button 
{
	display:block;
	width:150px;
	background: #262626; 
	font-size: 24px;
	text-decoration: none;
}            
div a.button:hover 
{                
	background: #404040;
}
p
{
	color: #24F6ED;
	background-color: #262626;
}
h1
{
	color: #F98530;
}
}
